.gridview {
    background-color: rgba(255, 0, 0, .5);
    /* background-color: black; */
    /* margin: 120px 80px; */
    /* padding: 20px 10px; */
    /* margin-top: 24px; */
}

.gridview-row {
    /* background-color: rgba(0, 0, 255, 0.5); */
    /* margin: 120px 80px; */
    /* padding: 10px 20px; */
}

.gridview-cell {
    /* background-color: rgba(255, 0, 0, 0.2); */
    /* margin: 20px; */
    /* border: 1px solid cyan; */
}

.clone {
    /* border: 2px solid cyan; */
}

.gridview-cell:focused {
    /* border:4px solid orange; */
}

.hot-edge {
    /* background-color: rgba(100, 100, 0, 0.6); */
    background-color: black;
}

.scrollbar {
    /* background-color: rgba(100, 100, 100, 0.2); */
    background-color: black;
}

.scrollbar:pressed {
    /* background-color: rgba(100, 100, 100, 0.3); */
}

.scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.8);
    /* border-radius: 1px; */
}

.scrollbar-thumb:pressed {
    background-color: rgba(0, 255, 255, 0.8);
}

.thumb {
    background-color: rgba(255, 255, 255, 0.3);
}

.button {
    color: white;
    background-color: transparent;
    border: none;
    padding-top: 8px;
    padding-bottom: 0;
    margin-top: 8px;
    font-weight: 600;
    font-size: .9em;
}

.login-dialog-session-list-button StIcon {
    icon-size: 1.25em;
    padding: 5px 10px;
}

.login-dialog-session-list-button {
    color: #a6a69b;
}

.login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
    color: #eeeeec;
}

.login-dialog-session-list-button:active {
    color: #747467;
}