.right-panel {
    background-color: red;
}

.fluidshell-page {
    background-color: rgba(0, 0, 0, 0.5);
    margin:120px 80px;
    padding:80px;
}

.clone-container {
    /* background-color: rgba(0, 0, 0, 0.5); */
    border:2px solid cyan;
}

.clone-container:focused {
    border:4px solid orange;
}